spring:
  application:
    name: coupon
  datasource:
    url: jdbc:h2:mem:mydb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console
      settings.trace: false
      settings.web-allow-others: false
      settings:
        web-allow-others: true
  springdoc:
    swagger-ui:
      path: /swagger-ui.html
      operations-sorter: method
    api-docs:
      path: /v3/api-docs
logging:
  level:
    org.hibernate.SQL: DEBUG